@media (max-width: 768px){
    .searching-tools {
        padding: 40px;
        margin-bottom: 60px;
    }
    
    .container {
        width: 100% !important;
    }
    
    .category-item{
        float: none !important;
        margin: 20px auto;
        height: 126px;
    }
    
    .category-list{
        display: block !important;
    }
    
    .category-item-content{
        padding: 35px 0 0 0;
        font-size: 18px;
        color: white;
    }
    
    .featured-places-item {
        border-radius: 50px;
        overflow: hidden;
        margin: 0 15px 50px 15px;
    }
    
    .find-anything-item {
        margin:0 15px 30px 15px;
    }
    
    .find-anything-title {
        margin-bottom: 55px;
    }
    
    .read-awesome-stories{
        padding-top: 70px;
    }
    
    .read-awesome-stories-list{
        padding-top: 100px;
    }
    
    .read-awesome-stories-item{
        margin-bottom: 50px;
    }
    
    .read-awesome-stories-item-description {
        width: 100%;
    }

    footer{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 992px) and (min-width: 769px){
    .searching-tools {
        padding: 20px;
        
    }
    
    .category-item{
        height: 110px;
    }
    
    .category-item-content{
        padding: 30px 0 0 0;
        font-size: 18px;
        color: white;
    }
    
    .category-item-content span{
        font-size: 12px;
    }
    
    .most-popular-item {
        border-radius: 50px;
        max-height: 345px;
        height: 345px;
        overflow: hidden;
        margin-bottom: 30px;
    }
    
    .find-anything-item {
        max-height: 165px;
        margin: 0 0 20px 0;
    }
    
    .find-anything-item-icon{
        width: 100px;
        height: 100px;
        line-height: 100px;
    }
    
    .read-awesome-stories-list{
        padding-top: 70px;
    }

    .read-awesome-stories-item{
        position: relative;
        height: auto;
    }

    .read-awesome-stories-img{
        position: absolute;
        bottom: 0;
        top: 0;
        margin-top: 0;
        max-height: none;
        height: auto;
    }

    .read-awesome-stories-item-description {
        float:right;
    }
}