* {
    transition: all 0.3s ease;
}

body { padding-right: 0 !important }

.lb-outerContainer, .lightboxOverlay{
    transition: all 0s ease;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

select{
    -webkit-appearance: none;
    cursor: pointer;
}

footer ul {
    padding:0;
    margin:0;
    list-style-type: none;
}

footer ul li {
    margin-bottom: 25px;
}

footer ul.socials li {
    float: left;
    margin-right: 15px;
}

footer ul.socials li a{
    font-size: 18px;
}