.login-content {
    margin-top: 150px;
    margin-bottom: 150px;
    background-color: white;
    padding: 60px 40px;
    border-radius: 50px !important;
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;
}

.login-content input, .select2-selection.select2-selection--single, .login-content textarea{
    border-radius: 50px !important;
    outline: none !important;
    padding: 17px 30px !important;
    width: 100% !important;
    min-height: 60px !important;
    background-color: white !important;
    color: #4d4d4d !important;
    font-family: 'Dosis', sans-serif !important;
    box-sizing: border-box !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}

.select2-selection__arrow {
    top: 23px !important;
}

.select2-container--krajee .select2-dropdown{
    margin-top: 1px !important;
}

.select2-results__group {
    color: #333 !important;
    text-shadow: 0 1px 0 #fff !important;
    background-color: #eee !important;
    border-top: 1px solid #e0e0e0 !important;
    border-bottom: 1px solid #e0e0e0 !important;
    padding: 6px 12px !important;
    line-height: 1.428571429 !important;
    white-space: nowrap !important;
    font-size: 16px!important;
}

.login-content button {
    background-color: #4d4d4d;
    color: white;
    border: none;
    outline: none;
    font-family: 'Dosis', sans-serif;
    border-radius: 60px;
    margin-top: 30px;
    letter-spacing: -1px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    line-height: 60px;
    cursor: pointer;
}

.login-content button:hover {
    background-color: #e95c53;
}

.login-inner span {
    color: rgb(153, 153, 153);
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    display: inline-block;
    min-width: 160px;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.login-inner span:before {
    vertical-align: middle;
    content: "";
    display: inline-block;
    width: 60px;
    height: 3px;
    margin: 0px 10px;
    border-bottom: 1px solid rgb(233, 92, 83);
    border-top: 1px solid rgb(233, 92, 83);
}

.login-inner span:after {
    vertical-align: middle;
    content: "";
    display: inline-block;
    width: 60px;
    height: 3px;
    margin: 0px 10px;
    border-bottom: 1px solid rgb(233, 92, 83);
    border-top: 1px solid rgb(233, 92, 83);
}

.login-inner:after {
    content: "";
    display: inline-block;
    width: 160px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgb(233, 92, 83);
    border-top: 1px solid rgb(233, 92, 83);
}

.btn-facebook {
    color: white;
    font-size: 15px !important;
    font-weight: 700 !important;
    line-height: 60px !important;
    width: 100%;
    text-align: center;
    font-family: Dosis, sans-serif !important;
    padding: 0 !important;
    margin-top: 20px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    letter-spacing: 2px;
    border-radius: 60px !important;
    background-color: rgb(59, 89, 152);
}

.btn-facebook:hover {
    color: white !important;
    background-color: #5C7AB9 !important;
}

.btn-google {
    color: white !important;
    font-size: 15px !important;
    font-weight: 700 !important;
    line-height: 60px !important;
    width: 100%;
    text-align: center;
    padding: 0 !important;
    font-family: Dosis, sans-serif;
    margin-top: 20px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    letter-spacing: 2px !important;
    border-radius: 60px !important;
    background-color: rgb(220, 78, 65);
}

.btn-google:hover {
    color: white !important;
    background-color: #EE6053 !important;
}

.custom-file-control{
    border-radius: 50px !important;
    outline: none;
    padding: 17px 30px !important;
    width: 100% !important;
    min-height: 60px !important;
    background-color: white;
    border: 2px solid #e8e8e8 !important;
    color: #4d4d4d !important;
    font-family: 'Dosis', sans-serif !important;
    box-sizing: border-box !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    margin-bottom: 20px !important;
    white-space: nowrap;
    overflow: hidden;
}

.custom-file-input {
    cursor: pointer !important;
}

.custom-file-control:lang(en):before {
    content: "Browse";
}
.custom-file-control:lang(ru):before {
    content: "Выбрать";
}
.custom-file-control:lang(uz):before {
    content: "Ko'rsatish";
}
.custom-file-control:before {
    padding: 17px 30px !important;
    line-height: 1.5;
    color: #464a4c;
    background-color: #eceeef;
    border: 0!important;

    border-bottom-right-radius: 50px !important;
    border-top-right-radius: 50px !important;
    outline: none;
    min-height: 57px !important;
    font-family: 'Dosis', sans-serif;
    box-sizing: border-box;
    font-size: 16px !important;
    font-weight: 500 !important;
}

.custom-file-control:lang(en):after {
    content: "Choose file...";
}

.custom-file-control:lang(ru):after {
    content: "Выберите файл";
}

.custom-file-control:lang(uz):after {
    content: "Faylni ko'rsating";
}

.custom-file-control.selected:lang(en)::after, .custom-file-control.selected:lang(ru)::after, .custom-file-control.selected:lang(uz)::after {
    content: "" !important;
}

.help-block-error {
    color: red !important;
    text-align: center;
}

.pagination li:first-child{
    margin-left: 0;
    border-bottom-left-radius: .25rem;
    border-top-left-radius: .25rem;
}

.pagination li:last-child{
    margin-left: -1px;
    border-bottom-right-radius: .25rem;
    border-top-right-radius: .25rem;
}

.featured-places-item-rate i{
    cursor: pointer;
}

.pagination li a, .pagination li span {
    padding: .5rem .75rem !important;
    color: #E95C53;
}

.pagination li.active {
    background-color: #E95C53;
}

.pagination li.active a{
    background-color: #E95C53;
    color: white;
    cursor: not-allowed;
}

.pagination li{
    position: relative;
    display: block;
    padding: .5rem 0 !important;
    line-height: 1.25;
    color: #E95C53;
    margin-left: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination li a:hover {
    color: #014c8c;
    text-decoration: none;
    background-color: #eceeef;
    border-color: #ddd;
}